.login {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  justify-content: center;
  align-items: center;
}

.login > img {
  width: 100px;
}

.login > button {
  padding: 1rem 3rem;
  background-color: rgba(245, 245, 245, 0.8);
  border: none;
  border-radius: 8px;
  font-size: 1.2rem;
  cursor: pointer;
}

.login > button:hover {
  background-color: whitesmoke;
  color: rgba(0, 0, 0, 0.8);
}
